body {
  font-family: "Noto Sans", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

header {
  background-color: #008bd5;
}
header .header-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
@media (max-width: 575px) {
  header .header-data {
    padding: 17px 0 26px 12px;
  }
}
header .header-data h3 {
  color: #ffffff;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
header .header-data .header-right {
  display: flex;
  align-items: center;
  gap: 8px;
}
header .header-data .header-right h3 {
  font-size: 14px;
  line-height: 20px;
  color: #f7f6f6;
  margin-bottom: 0;
}
header .header-data .header-right h4 {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 0;
  position: relative;
  margin: 0 7px;
}
header .header-data .header-right h4::after {
  position: absolute;
  top: 1px;
  left: -8px;
  background-color: #ffffff;
  content: "";
  width: 1px;
  height: 18px;
}
header .header-data .header-right h4::before {
  position: absolute;
  top: 1px;
  right: -8px;
  background-color: #ffffff;
  content: "";
  width: 1px;
  height: 18px;
}

.main {
  padding-top: 35px;
  padding-bottom: 40px;
}
@media (max-width: 575px) {
  .main {
    padding-top: 19px;
    padding-bottom: 21px;
  }
}
.main .main-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  gap: 99px;
}
@media (max-width: 1199px) {
  .main .main-data {
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .main .main-data {
    gap: 51px;
    padding: 0;
  }
}
@media (max-width: 575px) {
  .main .main-data {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 6px;
    padding-right: 6px;
  }
}
@media (max-width: 1024px) {
  .main .main-data .logo-img {
    width: 180px;
  }
}
@media (max-width: 575px) {
  .main .main-data .logo-img {
    width: 153px;
    height: 46px;
    margin-bottom: 0;
  }
}
.main .main-data .main-tab-box {
  display: flex;
  gap: 23px;
}
@media (max-width: 1199px) {
  .main .main-data .main-tab-box {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .main .main-data .main-tab-box {
    justify-content: center;
  }
}
.main .main-data .main-tab-box .main-left-data {
  position: relative;
}
.main .main-data .main-tab-box .main-left-data .main-border {
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px 6px;
  padding: 19px 55px;
}
@media (max-width: 1199px) {
  .main .main-data .main-tab-box .main-left-data .main-border {
    padding: 12px 34px;
  }
}
@media (max-width: 1024px) {
  .main .main-data .main-tab-box .main-left-data .main-border {
    padding: 15px 50px;
  }
}
@media (max-width: 991px) {
  .main .main-data .main-tab-box .main-left-data .main-border {
    padding: 7px 24px;
  }
}
.main .main-data .main-tab-box .main-left-data .main-border:hover {
  cursor: pointer;
}
.main .main-data .main-tab-box .main-left-data .main-border:focus {
  border-color: #f6774e !important;
}
.main .main-data .main-tab-box .main-left-data .main-border h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #5b5b5b;
  letter-spacing: 5px;
  margin-bottom: 0;
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
}
@media (max-width: 1024px) {
  .main .main-data .main-tab-box .main-left-data .main-border h3 {
    font-size: 18px;
    line-height: 26px;
  }
}
@media (max-width: 699px) {
  .main .main-data .main-tab-box .main-left-data .main-border h3 {
    font-size: 14px;
    line-height: 22px;
  }
}
.main .main-data .main-tab-box .main-left-data .main-border .text-orange {
  color: #f6774e;
}
.main .main-data .modal {
  background-color: #ffffff;
}
.main .main-data .modal .modal-dialog {
  margin: 0;
}
.main .main-data .modal .modal-header {
  padding: 0;
  display: block;
  border-radius: 0;
}
.main .main-data .modal .modal-header .header-data h3 {
  color: #ffffff;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  padding: 17px 0 26px 24px;
}
.main .main-data .modal .modal-dialog-scrollable .modal-content {
  height: 100% !important;
  margin: 0;
  border-radius: 0;
  border: 0;
}
.main .main-data .modal .modal-dialog-scrollable .modal-content .modal-header {
  background-color: #008bd5;
  padding: 0 20px;
}
.main .main-data .modal .modal-dialog-scrollable .modal-content .modal-header .mobile-logo {
  padding-bottom: 55px;
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .main-data .modal .modal-dialog-scrollable .modal-content .modal-header .language {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
  padding: 0 24px;
}
.main .main-data .modal .modal-dialog-scrollable .modal-content .modal-header .language .language-div {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 25px;
  gap: 18px;
  font-weight: 700;
}
.main .main-data .modal .modal-dialog-scrollable .modal-content .modal-header .language .language-div span {
  color: #fbee6c;
}
.main .main-data .modal .modal-dialog-scrollable .modal-content .modal-header .language .language-div h3 {
  color: #ffffff;
  margin-bottom: 0;
  position: relative;
}
.main .main-data .modal .modal-dialog-scrollable .modal-content .modal-header .language .language-div h3::after {
  position: absolute;
  content: "";
  background-color: #ffffff;
  width: 2px;
  height: 20px;
  top: 5px;
  left: -10px;
}
.main .main-data .modal .modal-dialog-scrollable .modal-content .modal-header .language h2 {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: #ffffff;
}
.main .main-data .modal .modal-body {
  padding: 35px 28px 35px 24px;
}
.main .main-data .modal .modal-body .modal-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 5px;
  color: #444444;
  margin-bottom: 32px;
}
.main .main-data .modal .modal-body .modal-list li.no-space {
  letter-spacing: 0;
}
.main .main-data .modal .modal-body .modal-list li h3 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
}
.main .main-data .modal .modal-body .modal-list li a {
  color: #444444;
}

.main_data {
  height: 100%;
}
.main_data .main-data_flex {
  display: flex;
  gap: 24px;
}
@media (max-width: 768px) {
  .main_data .main-data_flex {
    flex-direction: column;
  }
}

.left-sidebar {
  background-color: #008bd5;
  width: 208px;
  height: 120vh;
}
@media (max-width: 1440px) {
  .left-sidebar {
    height: auto;
  }
}
@media (max-width: 768px) {
  .left-sidebar {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 999;
  }
}
.left-sidebar.msg_leftside {
  height: auto;
  margin-bottom: -10px;
}
@media (max-width: 768px) {
  .left-sidebar.msg_leftside {
    margin-bottom: 0;
  }
}
.left-sidebar .left-sidelist {
  padding-top: 81px;
  margin: 0 10px 0 13px;
}
@media (max-width: 768px) {
  .left-sidebar .left-sidelist {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 575px) {
  .left-sidebar .left-sidelist {
    padding-top: 14px;
  }
}
.left-sidebar .left-sidelist li {
  letter-spacing: 5px;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-bottom: 16px;
  width: 100%;
}
@media (max-width: 768px) {
  .left-sidebar .left-sidelist li {
    width: max-content;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0;
    border-bottom: 0;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .left-sidebar .left-sidelist li {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.left-sidebar .left-sidelist li .no-space {
  letter-spacing: 0;
}
.left-sidebar .left-sidelist li a {
  color: #ffffff !important;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}
.left-sidebar .left-sidelist li a.active {
  color: #fbee6c !important;
}
@media (max-width: 375px) {
  .left-sidebar .left-sidelist li a {
    font-size: 12px;
    line-height: 16px;
  }
}

.right-sidebar {
  width: 82.4%;
}
@media (max-width: 1699px) {
  .right-sidebar {
    width: 73%;
  }
}
@media (max-width: 768px) {
  .right-sidebar {
    width: 100%;
    padding: 0 10px;
  }
}
@media (max-width: 768px) {
  .right-sidebar .rightside-title.quotation-title {
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .right-sidebar .rightside-title {
    display: flex;
  }
}
.right-sidebar .rightside-title h2 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  color: #444444;
  position: relative;
  padding-left: 20px;
  margin-bottom: 13px;
}
@media (max-width: 992px) {
  .right-sidebar .rightside-title h2 {
    font-size: 24px;
    line-height: 28px;
  }
}
@media (max-width: 768px) {
  .right-sidebar .rightside-title h2 {
    font-size: 24px;
  }
}
@media (max-width: 575px) {
  .right-sidebar .rightside-title h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 34px;
  }
}
.right-sidebar .rightside-title h2::after {
  position: absolute;
  top: 7px;
  left: 0;
  background-color: #31b762;
  content: "";
  width: 12px;
  height: 25px;
}
@media (max-width: 768px) {
  .right-sidebar .rightside-title h2::after {
    top: 4px;
    height: 17px;
  }
}
@media (max-width: 575px) {
  .right-sidebar .yellow-btn.profile_yellow {
    text-align: center;
  }
}
.right-sidebar .yellow-btn.profile_yellow a {
  letter-spacing: 5px;
  padding: 17px 38px;
  margin-bottom: 0;
}
@media (max-width: 575px) {
  .right-sidebar .yellow-btn.profile_yellow a {
    padding: 17px 24px;
  }
}
.right-sidebar .yellow-btn a {
  background-color: #fbee6c;
  padding: 17px 19px 16px 27px;
  color: #444444;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 26px;
}
@media (max-width: 320px) {
  .right-sidebar .yellow-btn a {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 375px) {
  .right-sidebar .yellow-btn a {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 575px) {
  .right-sidebar .yellow-btn a {
    font-size: 18px;
    margin-bottom: 42px;
  }
}
@media (max-width: 375px) {
  .right-sidebar .yellow-btn a {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .right-sidebar .yellow-btn a {
    font-size: 14px;
  }
}
.right-sidebar .yellow-btn span {
  letter-spacing: 5px;
}
.right-sidebar .content h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #3a3a3a;
  margin-bottom: 9px;
}
@media (max-width: 575px) {
  .right-sidebar .content h4 {
    margin-bottom: 14px;
  }
}
.right-sidebar .content .updated-h3 {
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  color: #454545;
  margin-bottom: 26px;
  letter-spacing: 2px;
}
@media (max-width: 575px) {
  .right-sidebar .content .updated-h3 {
    margin-bottom: 30px;
  }
}
.right-sidebar .content-box {
  display: flex;
  gap: 51px;
  margin-bottom: 53px;
}
@media (max-width: 575px) {
  .right-sidebar .content-box {
    gap: 11px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }
}
.right-sidebar .content-box .box {
  width: 246px;
  height: 135px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.right-sidebar .content-box .box.video {
  background-color: #f88d6b;
}
.right-sidebar .content-box .box.video i {
  margin-bottom: 2px;
}
.right-sidebar .content-box .box.clock {
  background-color: #c59d4f;
}
.right-sidebar .content-box .box.clock i {
  margin-bottom: 5px;
}
.right-sidebar .content-box .box i {
  font-size: 46px;
  color: #ffffff;
}
.right-sidebar .content-box .box h3 {
  font-size: 28px;
  letter-spacing: 5px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 0;
}
.right-sidebar .table-nav .watch-history .watch-history-h3 {
  color: #31b762;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 5px;
  font-weight: 700;
  margin-bottom: 29px;
}
.right-sidebar .table-nav .hours-div {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 29px;
}
@media (max-width: 768px) {
  .right-sidebar .table-nav .hours-div {
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .right-sidebar .table-nav .hours-div {
    flex-direction: column;
    align-items: start;
  }
}
.right-sidebar .table-nav .hours-div h2 {
  font-size: 18px;
  font-weight: 500;
  color: #3a3a3a;
  line-height: 24px;
  margin-bottom: 0;
}
@media (max-width: 575px) {
  .right-sidebar .table-nav .hours-div h2 {
    margin-bottom: 10px;
  }
}
.right-sidebar .table-nav .hours-div .btn {
  padding: 5px 22px;
  color: #31b762;
  letter-spacing: 5px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: 1px solid #31b762;
  border-radius: 20px;
}
@media (max-width: 575px) {
  .right-sidebar .table-nav .hours-div .btn {
    padding: 13px 22px;
    margin-bottom: 28px;
  }
}
.right-sidebar .date-range {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 29px;
}
@media (max-width: 575px) {
  .right-sidebar .date-range {
    flex-direction: column;
    align-items: start;
  }
}
.right-sidebar .date-range h3,
.right-sidebar .date-range span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #3a3a3a;
  margin-bottom: 0;
}
@media (max-width: 575px) {
  .right-sidebar .date-range h3,
  .right-sidebar .date-range span {
    margin-bottom: 20px;
  }
}
.right-sidebar .date-range span {
  font-weight: 500;
}
.right-sidebar .date-range form input {
  border: 1px solid #555555;
  height: 32px;
  width: 154px;
  color: #555555;
  border-radius: 10px;
}
.right-sidebar .date-range form input:focus {
  outline: none;
  box-shadow: none;
}
@media (max-width: 575px) {
  .right-sidebar .date-range form input {
    width: 317px;
    height: 50px;
  }
}
@media (max-width: 375px) {
  .right-sidebar .date-range form input {
    width: 298px;
  }
}
@media (max-width: 320px) {
  .right-sidebar .date-range form input {
    width: 256px;
  }
}
.right-sidebar .table-data .table thead tr th {
  background-color: #31b762;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 14px;
}
.right-sidebar .table-data .table tr td {
  vertical-align: middle;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #3a3a3a;
}
.right-sidebar .table-data .table tr td img {
  max-width: none;
}
@media (max-width: 1024px) {
  .right-sidebar .table-data .table tr .min-td {
    min-width: 250px;
  }
}
@media (max-width: 1024px) {
  .right-sidebar .table-data .table tr .min-td {
    min-width: 183px;
  }
}
@media (max-width: 992px) {
  .right-sidebar .table-data .table tr .min-td {
    min-width: 180px;
  }
}
@media (max-width: 767px) {
  .right-sidebar .table-data .table tr .min-td {
    min-width: 155px;
  }
}
.right-sidebar .table-data .table tr .custom-checkbox {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}
@media (max-width: 575px) {
  .right-sidebar .table-data .table tr .custom-checkbox {
    width: 50px;
    height: 50px;
  }
}
.right-sidebar .table-data .table tr .custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.right-sidebar .table-data .table tr .custom-checkbox input:focus {
  outline: none;
  box-shadow: none;
}
.right-sidebar .table-data .table tr .custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.right-sidebar .table-data .table tr .custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #fff;
}
.right-sidebar .table-data .table tr .custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 8px;
  top: 4px;
  width: 8px;
  height: 16px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}
.right-sidebar .table-data .table tr .custom-checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

footer {
  padding-top: 60px;
  padding-bottom: 31px;
  margin-bottom: 61px;
}
@media (max-width: 768px) {
  footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (max-width: 575px) {
  footer {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
footer .footer-data {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  footer .footer-data {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }
}
footer .footer-data .copy-right {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  margin-bottom: 0;
  padding-left: 130px;
}
@media (max-width: 1440px) {
  footer .footer-data .copy-right {
    padding-left: 77px;
  }
}
@media (max-width: 1199px) {
  footer .footer-data .copy-right {
    padding-left: 104px;
  }
}
@media (max-width: 1024px) {
  footer .footer-data .copy-right {
    padding-left: 193px;
  }
}
@media (max-width: 992px) {
  footer .footer-data .copy-right {
    padding-left: 0;
  }
}
@media (max-width: 575px) {
  footer .footer-data .copy-right {
    margin-bottom: 6px;
  }
}
footer .footer-data .footer-right {
  display: flex;
  gap: 15px;
}
@media (max-width: 575px) {
  footer .footer-data .footer-right {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }
}
footer .footer-data .footer-right li {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  color: #444444;
}
footer .footer-data .footer-right li::after {
  position: absolute;
  top: 3px;
  right: -8px;
  width: 1px;
  height: 15px;
  background-color: #444444;
  content: "";
}
footer .footer-data .footer-right li:last-child::after {
  width: 0;
}

.main-left-data:focus .main-border {
  border-color: #f6774e !important;
}

@media (max-width: 768px) {
  .right-sidebar.mobile-screen-right {
    padding: 0 36px;
  }
}
@media (max-width: 575px) {
  .right-sidebar.mobile-screen-right {
    padding: 0 20px;
  }
}
.right-sidebar .rightside-title .title_space {
  letter-spacing: 5px;
  margin-bottom: 24px;
}
.right-sidebar .profile_data {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
  border-radius: 29px;
  padding: 43px 26px;
  width: 86%;
}
@media (max-width: 1199px) {
  .right-sidebar .profile_data {
    width: 86%;
  }
}
@media (max-width: 1024px) {
  .right-sidebar .profile_data {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .right-sidebar .profile_data {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .right-sidebar .profile_data {
    padding: 47px 23px 52px 23px;
    margin-bottom: 90px;
  }
}
@media (max-width: 320px) {
  .right-sidebar .profile_data {
    padding: 47px 10px 52px 10px;
    margin-bottom: 90px;
  }
}
.right-sidebar .profile_data .account-h3 {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 5px;
  color: #31b762;
  font-weight: 700;
}
@media (max-width: 575px) {
  .right-sidebar .profile_data .account-h3 {
    margin-bottom: 19px;
  }
}
.right-sidebar .profile_data .login-data {
  margin-bottom: 39px;
}
@media (max-width: 575px) {
  .right-sidebar .profile_data .login-data {
    margin-bottom: 26px;
  }
}
@media (max-width: 320px) {
  .right-sidebar .profile_data .login-data {
    margin-bottom: 16px;
  }
}
.right-sidebar .profile_data .login-data.mb-35 {
  margin-bottom: 35px;
}
@media (max-width: 575px) {
  .right-sidebar .profile_data .login-data.mb-35 {
    margin-bottom: 26px;
  }
}
@media (max-width: 575px) {
  .right-sidebar .profile_data .login-data.mb-35 li {
    flex-direction: column;
    gap: 6px;
  }
}
.right-sidebar .profile_data .login-data .dot-style {
  padding-left: 10px;
}
@media (max-width: 575px) {
  .right-sidebar .profile_data .login-data .dot-style {
    margin-bottom: 62px;
  }
}
.right-sidebar .profile_data .login-data .dot-style li {
  position: relative;
}
.right-sidebar .profile_data .login-data .dot-style li::after {
  position: absolute;
  content: "";
  background-color: #3a3a3a;
  top: 10px;
  left: -13px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}
@media (max-width: 575px) {
  .right-sidebar .profile_data .login-data li {
    gap: 20px;
  }
}
.right-sidebar .profile_data .login-data li .login-detail {
  display: flex;
}
@media (max-width: 575px) {
  .right-sidebar .profile_data .login-data li .login-detail {
    flex-direction: column;
    margin-bottom: 15px;
  }
}
.right-sidebar .profile_data .login-data li .login-detail h4 {
  width: 150px;
}
@media (max-width: 575px) {
  .right-sidebar .profile_data .login-data li .login-detail h4 {
    width: 100%;
  }
}
.right-sidebar .profile_data .login-data li h4 {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #3a3a3a;
}
@media (max-width: 575px) {
  .right-sidebar .profile_data .login-data li h4 {
    margin-bottom: 4px;
  }
  .right-sidebar .profile_data .login-data li h4.custm-mb {
    margin-bottom: 19px;
  }
}
@media (max-width: 320px) {
  .right-sidebar .profile_data .login-data li h4 {
    font-size: 16px;
    line-height: 20px;
  }
}

.latter_space {
  letter-spacing: 5px;
  color: #787878;
}

@media (max-width: 768px) {
  .right-sidebar {
    padding: 0 20px;
  }
}
.right-sidebar.msg_rightside {
  width: 86%;
}
@media (max-width: 1440px) {
  .right-sidebar.msg_rightside {
    width: 82%;
  }
}
@media (max-width: 1199px) {
  .right-sidebar.msg_rightside {
    width: 78%;
  }
}
@media (max-width: 1024px) {
  .right-sidebar.msg_rightside {
    width: 73%;
  }
}
@media (max-width: 768px) {
  .right-sidebar.msg_rightside {
    width: 100%;
  }
}
.right-sidebar .message-data .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
@media (max-width: 1024px) {
  .right-sidebar .message-data .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575px) {
  .right-sidebar .message-data .grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 26px;
  }
}
.right-sidebar .message-data .message-content {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #f4f4f4;
  border-radius: 10px;
  margin-bottom: 3px;
  height: 100%;
}
.right-sidebar .message-data .message-content .msg-title {
  padding: 12px 13px;
}
.right-sidebar .message-data .message-content .msg-title .round-dot {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #787878;
}
.right-sidebar .message-data .message-content .msg-title .round-dot.active {
  background-color: #dd2b2b;
}
.right-sidebar .message-data .message-content .msg-title h4 {
  color: #787878;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
}
.right-sidebar .message-data .message-content .msg-img {
  padding: 0 9px 12px 9px;
}
.right-sidebar .message-data .message-content .msg-img img {
  width: 100%;
  object-fit: cover;
}
.right-sidebar .message-data .message-content .msg-data {
  padding: 0 9px;
}
@media (max-width: 1199px) {
  .right-sidebar .message-data .message-content .msg-data .msg-h-title {
    height: 61px;
  }
}
@media (max-width: 575px) {
  .right-sidebar .message-data .message-content .msg-data .msg-h-title {
    height: 60px;
  }
}
.right-sidebar .message-data .message-content .msg-data .msg-h-title h3 {
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: #3a3a3a;
}
.right-sidebar .message-data .message-content .msg-data p {
  color: #787878;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 15px;
}
.right-sidebar .message-data .message-content .msg-btn button {
  padding: 14px 0;
  background-color: #31b762;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  width: 100%;
  color: #ffffff !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
@media (max-width: 575px) {
  .right-sidebar .message-data .message-content .msg-btn button {
    padding: 10px 0;
  }
}

.message-detail {
  margin: 0 90px;
}
@media (max-width: 992px) {
  .message-detail {
    margin: 0 60px;
  }
}
@media (max-width: 768px) {
  .message-detail {
    margin: 0 40px;
  }
}
@media (max-width: 575px) {
  .message-detail {
    padding: 0 10px;
    margin: 0;
  }
}
.message-detail .detail-title h2 {
  letter-spacing: 5px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  color: #444444;
  position: relative;
  margin-bottom: 21px;
}
@media (max-width: 1199px) {
  .message-detail .detail-title h2 {
    padding-left: 4px;
    font-size: 24px;
    line-height: 28px;
  }
}
@media (max-width: 768px) {
  .message-detail .detail-title h2 {
    padding-left: 13px;
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .message-detail .detail-title h2 {
    padding-left: 13px;
    font-size: 14px;
  }
}
.message-detail .detail-title h2:after {
  position: absolute;
  top: 7px;
  left: 0;
  background-color: #31b762;
  content: "";
  width: 12px;
  height: 25px;
}
@media (max-width: 1199px) {
  .message-detail .detail-title h2:after {
    top: 2px;
  }
}
.message-detail .detail-back {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 25px;
}
.message-detail .detail-back span,
.message-detail .detail-back i {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 5px;
  color: #6c6c6c;
  font-weight: 700;
}
@media (max-width: 320px) {
  .message-detail .detail-back span,
  .message-detail .detail-back i {
    font-size: 16px;
  }
}
.message-detail .detail-data {
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 34px 76px 75px 76px;
  margin-bottom: 145px;
}
@media (max-width: 1024px) {
  .message-detail .detail-data {
    padding: 34px 52px 75px 52px;
    margin-bottom: 105px;
  }
}
@media (max-width: 575px) {
  .message-detail .detail-data {
    padding: 24px 24px 33px 24px;
  }
}
.message-detail .detail-data .detail-data-title h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 5px;
  color: #46464e;
  margin-bottom: 13px;
}
@media (max-width: 320px) {
  .message-detail .detail-data .detail-data-title h3 {
    font-size: 14px;
  }
}
.message-detail .detail-data .detail-data-title h2 {
  color: #008bd5;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 32px;
  text-decoration: underline;
  text-underline-offset: 10px;
}
@media (max-width: 575px) {
  .message-detail .detail-data .detail-data-title h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
@media (max-width: 320px) {
  .message-detail .detail-data .detail-data-title h2 {
    font-size: 16px;
  }
}
.message-detail .detail-data .detail-data-img {
  margin-bottom: 35px;
}
@media (max-width: 575px) {
  .message-detail .detail-data .detail-data-img {
    margin-bottom: 28px;
  }
}
.message-detail .detail-data .detail-data-img img {
  width: 100%;
}
.message-detail .detail-data .detail-data-content p {
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 30px;
  color: #787878;
  font-weight: 400;
  margin-bottom: 11px;
}
.message-detail .detail-data .detail-data-content p:last-child {
  margin-bottom: 25px;
}
@media (max-width: 575px) {
  .message-detail .detail-data .detail-data-content p:last-child {
    margin-bottom: 16px;
  }
}
@media (max-width: 575px) {
  .message-detail .detail-data .detail-data-content p {
    line-height: 24px;
    font-size: 14px;
  }
}
.message-detail .detail-data .detail-data-list h3 {
  color: #31b762;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
}
.message-detail .detail-data .detail-data-list ul {
  margin-bottom: 30px;
}
@media (max-width: 575px) {
  .message-detail .detail-data .detail-data-list ul {
    margin-bottom: 16px;
  }
}
.message-detail .detail-data .detail-data-list ul li {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #46464e;
  letter-spacing: 1px;
}
@media (max-width: 575px) {
  .message-detail .detail-data .detail-data-list ul li {
    font-size: 14px;
    line-height: 26px;
  }
}
.message-detail .detail-data .detail-data-list p:last-child {
  width: 100%;
  max-width: 780px;
}
.message-detail .detail-data .detail-data-list p:nth-child(2) {
  width: 100%;
  max-width: 440px;
  margin-bottom: 0;
}

.right-sidebar.quotation-main {
  width: 88%;
  padding-right: 20px;
}
@media (max-width: 1440px) {
  .right-sidebar.quotation-main {
    width: 84%;
  }
}
@media (max-width: 1299px) {
  .right-sidebar.quotation-main {
    width: 81%;
  }
}
@media (max-width: 1024px) {
  .right-sidebar.quotation-main {
    width: 77%;
  }
}
@media (max-width: 992px) {
  .right-sidebar.quotation-main {
    width: 76%;
  }
}
@media (max-width: 991px) {
  .right-sidebar.quotation-main {
    width: 74%;
  }
}
@media (max-width: 768px) {
  .right-sidebar.quotation-main {
    width: 100%;
  }
}
.right-sidebar.quotation-main .rightside-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;
}
.right-sidebar.quotation-main .rightside-title form {
  position: relative;
}
.right-sidebar.quotation-main .rightside-title form input {
  border: 1px solid #31b762;
  border-radius: 30px;
  width: 475px;
  height: 54px;
  position: relative;
}
.right-sidebar.quotation-main .rightside-title form input:focus {
  outline: none;
  box-shadow: none;
}
@media (max-width: 575px) {
  .right-sidebar.quotation-main .rightside-title form input {
    width: 374px;
    height: 44px;
  }
}
@media (max-width: 375px) {
  .right-sidebar.quotation-main .rightside-title form input {
    width: 300px;
  }
}
.right-sidebar.quotation-main .rightside-title form input::placeholder {
  color: #a1a1a1;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  padding-left: 31px;
}
@media (max-width: 575px) {
  .right-sidebar.quotation-main .rightside-title form input::placeholder {
    padding-left: 10px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 375px) {
  .right-sidebar.quotation-main .rightside-title form input::placeholder {
    width: 200px;
  }
}
.right-sidebar.quotation-main .rightside-title form span {
  position: absolute;
  right: 21px;
  top: 12px;
}
@media (max-width: 575px) {
  .right-sidebar.quotation-main .rightside-title form span {
    top: 8px;
  }
}
@media (max-width: 575px) {
  .right-sidebar.quotation-main .rightside-title form span img {
    width: 20px;
  }
}

.quotation-tab {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
}
@media (max-width: 767px) {
  .quotation-tab {
    margin-bottom: 0;
  }
}
.quotation-tab li {
  width: 50%;
}
.quotation-tab li .nav-link {
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #909090;
}
.quotation-tab li .nav-link.active {
  background-color: #f28d30;
}
.quotation-tab .orange-tab {
  display: flex;
  width: 100%;
  padding: 13px 0 14px 0;
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 5px;
  font-weight: 700;
  border-top-left-radius: 45px !important;
}
@media (max-width: 1024px) {
  .quotation-tab .orange-tab {
    padding: 10px 0 11px 0;
  }
}
@media (max-width: 575px) {
  .quotation-tab .orange-tab {
    padding: 13px 0 14px 0;
  }
}
.quotation-tab .gray-tab {
  border-top-right-radius: 45px !important;
  display: flex;
  width: 100%;
  padding: 13px 0 14px 0;
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 5px;
  font-weight: 700;
  position: relative;
}
@media (max-width: 1024px) {
  .quotation-tab .gray-tab {
    padding: 10px 0 11px 0;
  }
}
@media (max-width: 575px) {
  .quotation-tab .gray-tab {
    padding: 13px 0 14px 0;
  }
}
.quotation-tab .gray-tab:after {
  position: absolute;
  content: "";
  top: 5px;
  left: 2px;
  width: 3px;
  height: 80%;
  background-color: #ffffff;
}

.quontation-table .que-head {
  display: flex;
  gap: 28px;
  padding: 15px 10px 17px 20px;
}
.quontation-table .que-head.green-bg {
  background-color: #31b762;
}
.quontation-table .que-head.puprple-bg {
  background-color: #B44FB0;
}
@media (max-width: 1440px) {
  .quontation-table .que-head {
    padding: 10px;
    gap: 10px;
  }
}
@media (max-width: 1024px) {
  .quontation-table .que-head {
    padding: 10px;
  }
}
.quontation-table .que-head div {
  width: 187px;
}
@media (max-width: 1440px) {
  .quontation-table .que-head div {
    width: 138px;
  }
}
@media (max-width: 575px) {
  .quontation-table .que-head div {
    width: 100%;
  }
}
.quontation-table .que-head div.exception-tab {
  width: 240px;
}
@media (max-width: 1440px) {
  .quontation-table .que-head div.exception-tab {
    width: 260px;
  }
}
@media (max-width: 575px) {
  .quontation-table .que-head div.exception-tab {
    width: 100%;
  }
}
.quontation-table .que-head div h4 {
  color: #ffffff;
  letter-spacing: 5px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .quontation-table .que-head div h4 {
    font-size: 14px;
    line-height: 18px;
  }
}
.quontation-table .que-body {
  margin-bottom: 49px;
}
.quontation-table .que-body .que-tr {
  display: flex;
  align-items: center;
  gap: 28px;
  padding: 14px 10px 14px 20px;
}
@media (max-width: 1440px) {
  .quontation-table .que-body .que-tr {
    gap: 10px;
    padding: 10px;
  }
}
@media (max-width: 575px) {
  .quontation-table .que-body .que-tr {
    flex-direction: column;
    align-items: start;
    padding: 19px 10px;
    gap: 8px;
  }
}
.quontation-table .que-body .que-tr.que-gray {
  background-color: #f8f7f3;
}
.quontation-table .que-body .que-tr.que-light {
  background-color: #efede4;
}
.quontation-table .que-body .que-tr h4 {
  font-weight: 500;
  line-height: 25px;
  font-size: 16px;
}
@media (max-width: 1024px) {
  .quontation-table .que-body .que-tr h4 {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 575px) {
  .quontation-table .que-body .que-tr h4 {
    width: 300px;
    line-height: 25px;
    font-size: 16px;
  }
}
.quontation-table .que-body .que-tr h4 .action-td {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media (max-width: 1440px) {
  .quontation-table .que-body .que-tr h4 .action-td {
    gap: 20px;
  }
}
@media (max-width: 1024px) {
  .quontation-table .que-body .que-tr h4 .action-td {
    justify-content: start;
    gap: 8px;
  }
}
.quontation-table .que-body .que-tr h4 .state-td {
  width: 135px;
  height: 31px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .quontation-table .que-body .que-tr h4 .state-td {
    width: 109px;
  }
}
.quontation-table .que-body .que-tr h4 .state-td.orange-btn {
  background-color: #e4663e;
}
.quontation-table .que-body .que-tr h4 .state-td.puprple-btn {
  background-color: #b44fb0;
}
.quontation-table .que-body .que-tr h4 .state-td.gray-btn {
  background-color: #494F5A;
}
.quontation-table .que-body .que-tr .que-gray-flex {
  width: 187px;
}
@media (max-width: 1440px) {
  .quontation-table .que-body .que-tr .que-gray-flex {
    width: 138px;
  }
}
@media (max-width: 575px) {
  .quontation-table .que-body .que-tr .que-gray-flex {
    width: 100%;
  }
}
.quontation-table .que-body .que-tr .que-gray-flex.exception-tab {
  width: 240px;
}
@media (max-width: 1440px) {
  .quontation-table .que-body .que-tr .que-gray-flex.exception-tab {
    width: 260px;
  }
}
@media (max-width: 575px) {
  .quontation-table .que-body .que-tr .que-gray-flex.exception-tab {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .quontation-table .que-body .que-tr .que-gray-flex {
    display: flex;
    width: 100%;
    gap: 10px;
  }
}
@media (max-width: 375px) {
  .quontation-table .que-body .que-tr .que-gray-flex {
    gap: 10px;
  }
}
.quontation-table .que-body .que-tr .que-gray-flex h3 {
  display: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  width: 120px;
  letter-spacing: 4px;
  line-height: 22px;
}
@media (max-width: 575px) {
  .quontation-table .que-body .que-tr .que-gray-flex h3 {
    display: block;
    width: 170px;
  }
}
.quontation-table .que-body .que-tr .que-gray-flex.action-mobile {
  gap: 12px;
}
.quontation-table .que-body .que-tr .que-gray-flex.action-mobile .action-btn {
  display: flex;
  justify-content: space-between;
  gap: 3px;
  color: #9B4545;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 5px;
  padding: 11px 8px;
  border: 1px solid;
  border-radius: 20px;
}
@media (max-width: 320px) {
  .quontation-table .que-body .que-tr .que-gray-flex.action-mobile .action-btn {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.quontation-table .que-body .que-tr .que-gray-flex.action-mobile .action-btn img {
  width: 32px;
  height: 29px;
  object-fit: contain;
}
.quontation-table .que-body .que-tr .que-gray-flex .register-btn {
  border: 1px solid #CF4CDB;
  color: #CF4CDB;
  padding: 7px 30px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  border-radius: 20px;
  width: 100px;
  height: 58px;
}
@media (max-width: 768px) {
  .quontation-table .que-body .que-tr .que-gray-flex .register-btn {
    padding: 7px 20px;
    width: 80px;
  }
}
@media (max-width: 575px) {
  .quontation-table .que-body .que-tr .que-gray-flex .register-btn {
    line-height: 15px;
    width: 120px;
    height: 30px;
    padding: 7px 20px;
  }
}
.quontation-table .que-body .que-tr .que-gray-flex .red-btn {
  color: #E95075;
  border: 1px solid #E95075;
  padding: 7px 30px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  border-radius: 20px;
  width: 100px;
  height: 58px;
}
@media (max-width: 768px) {
  .quontation-table .que-body .que-tr .que-gray-flex .red-btn {
    padding: 7px 20px;
    width: 80px;
  }
}
@media (max-width: 575px) {
  .quontation-table .que-body .que-tr .que-gray-flex .red-btn {
    line-height: 15px;
    width: 120px;
    height: 30px;
    padding: 7px 20px;
  }
}

.table-pagination {
  text-align: end;
}
@media (max-width: 575px) {
  .table-pagination {
    text-align: center;
  }
}
.table-pagination ul {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 11px;
}
@media (max-width: 575px) {
  .table-pagination ul {
    justify-content: center;
    gap: 20px;
  }
}
.table-pagination ul li a {
  color: #444444;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.table-pagination ul li a.active {
  color: #f6774e;
  text-decoration: underline;
  text-underline-offset: 4px;
}
@media (max-width: 575px) {
  .table-pagination ul li a.active {
    border: 1px solid #f6774e;
    padding: 3px 5px;
    text-decoration: none;
  }
}

.grid-table .table-head {
  display: flex;
  gap: 100px;
  padding-top: 15px;
  padding-bottom: 14px;
}
@media (max-width: 1299px) {
  .grid-table .table-head {
    gap: 60px;
  }
}
@media (max-width: 991px) {
  .grid-table .table-head {
    gap: 27px;
  }
}
@media (max-width: 575px) {
  .grid-table .table-head {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.grid-table .table-head.bg-green {
  background-color: #31b762;
  color: #ffffff;
}
.grid-table .table-head.bg-gray {
  background-color: #f8f7f3;
}
.grid-table .table-head.bg-gray1 {
  background-color: #ebebeb;
}
.grid-table .table-head .mobile-table-data {
  display: flex;
  gap: 10px;
}
.grid-table .table-head .mobile-table-data .last-flex {
  gap: 133px;
  align-items: center;
}
@media (max-width: 1299px) {
  .grid-table .table-head .mobile-table-data .last-flex {
    gap: 79px;
  }
}
@media (max-width: 1024px) {
  .grid-table .table-head .mobile-table-data .last-flex {
    gap: 20px;
  }
}
@media (max-width: 575px) {
  .grid-table .table-head .mobile-table-data .last-flex {
    flex-direction: column;
    gap: 0;
    align-items: start;
  }
}
.grid-table .table-head .checkbox-td {
  display: flex;
  gap: 30px;
  align-items: center;
}
@media (max-width: 992px) {
  .grid-table .table-head .checkbox-td {
    gap: 18px;
    align-items: center;
  }
}
.grid-table .table-head .checkbox-td .custom-checkbox {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}
@media (max-width: 575px) {
  .grid-table .table-head .checkbox-td .custom-checkbox {
    width: 50px;
    height: 50px;
  }
}
.grid-table .table-head .checkbox-td .custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.grid-table .table-head .checkbox-td .custom-checkbox input:focus {
  outline: none;
  box-shadow: none;
}
.grid-table .table-head .checkbox-td .custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.grid-table .table-head .checkbox-td .custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #fff;
}
@media (max-width: 575px) {
  .grid-table .table-head .checkbox-td .custom-checkbox .checkmark {
    width: 50px;
    height: 50px;
  }
}
.grid-table .table-head .checkbox-td .custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 8px;
  top: 4px;
  width: 8px;
  height: 16px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}
@media (max-width: 575px) {
  .grid-table .table-head .checkbox-td .custom-checkbox .checkmark:after {
    left: 19px;
    top: 8px;
    width: 12px;
    height: 29px;
  }
}
.grid-table .table-head .checkbox-td .custom-checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}
.grid-table .table-head img {
  max-width: none;
  object-fit: cover;
}
@media (max-width: 575px) {
  .grid-table .table-head img {
    width: 230px;
    height: 145px;
  }
}
@media (max-width: 320px) {
  .grid-table .table-head img {
    width: 176px;
    height: 116px;
  }
}

.w-2 {
  width: 18px;
}

.head-w {
  width: 160px;
}
@media (max-width: 575px) {
  .head-w {
    width: 100%;
  }
}

.custm-w-1 {
  width: 250px;
}
@media (max-width: 992px) {
  .custm-w-1 {
    width: 200px;
  }
}
@media (max-width: 991px) {
  .custm-w-1 {
    width: 169px;
  }
}
@media (max-width: 768px) {
  .custm-w-1 {
    width: 250px;
  }
}
@media (max-width: 690px) {
  .custm-w-1 {
    width: 163px;
  }
}
@media (max-width: 575px) {
  .custm-w-1 {
    width: auto;
  }
}

.custm-w-2 {
  width: 100px;
}
@media (max-width: 575px) {
  .custm-w-2 {
    width: auto;
  }
}

.custm-w-3 {
  width: 100px;
}
@media (max-width: 575px) {
  .custm-w-3 {
    width: auto;
  }
}

.last-flex {
  gap: 133px;
}
@media (max-width: 1299px) {
  .last-flex {
    gap: 79px;
  }
}
@media (max-width: 1024px) {
  .last-flex {
    gap: 20px;
  }
}
@media (max-width: 575px) {
  .last-flex {
    gap: 0;
  }
}

.mobile-table-data {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}
@media (max-width: 320px) {
  .mobile-table-data {
    font-size: 14px;
    line-height: 20px;
  }
}
.mobile-table-data .mobile-div1 {
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
}
@media (max-width: 320px) {
  .mobile-table-data .mobile-div1 {
    font-size: 12px;
    line-height: 20px;
  }
}

.height-2 {
  height: 200px;
}

/*# sourceMappingURL=style.css.map */
