$primary-color: #008bd5;
$font-stack: "Noto Sans", sans-serif;
$text-color: #f7f6f6;
$white-color: #ffffff;
$green-color: #31b762;

$xlll: 1440px;
$xll: 1199px;
$xl: 1024px;
$lg: 992px;
$med: 768px;
$sm: 575px;
$xs: 375px;
$xss: 320px;

body {
  font-family: $font-stack;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
html,
body {
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
@mixin pseudo-element($position, $top, $side, $color, $width, $height) {
  position: absolute;
  top: $top;
  #{$side}: -8px;
  background-color: $color;
  content: "";
  width: $width;
  height: $height;
}
@mixin bg-img {
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
}
@mixin pading {
  padding-left: 10px;
  padding-right: 10px;
}
@mixin latter-space {
  letter-spacing: 5px;
}
@mixin quotation-tab {
  display: flex;
  width: 100%;
  padding: 13px 0 14px 0;
  color: $white-color;
  font-size: 20px;
  line-height: 28px;
  @include latter-space();
  font-weight: 700;
  @media (max-width: #{$xl}) {
    padding: 10px 0 11px 0;
  }
  @media (max-width: #{$sm}) {
    padding: 13px 0 14px 0;
  }
  @media (max-width: #{$xss}) {
    font-size: 18px;
  }
 
}

@mixin table-width {
  width: 187px;
  @media (max-width: #{$xlll}) {
    width: 138px;
  }
  @media (max-width: #{$sm}) {
    width: 100%;
  }
  // @media (max-width: #{$sm}) {
  //   width: 197px;
  // }
  // @media (max-width: #{$xs}) {
  //   width: 194px;
  // }
}
@mixin table-width-3rd {
  width: 240px;
  @media (max-width: #{$xlll}) {
    width: 260px;
  }
  @media (max-width: #{$sm}) {
    width: 100%;
  }
}

@mixin register-btn{
  padding: 7px 30px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  border-radius: 20px;
  width: 100px;
  height: 58px;
  @media (max-width: #{$med}) {
    padding: 7px 20px;
    width: 80px;
  }
  @media (max-width: #{$sm}) {
    width: 100px;
    height: 58px;
    padding: 7px 28px;
  }
}
@mixin no-space{
  letter-spacing: 0;
}
//   ---header---

header {
  background-color: $primary-color;

  .header-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    @media (max-width: #{$sm}) {
      padding: 17px 0 26px 12px;
    }
    h3 {
      color: $white-color;
      margin-bottom: 0;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
    }
    .header-right {
      display: flex;
      align-items: center;
      gap: 8px;

      h3 {
        font-size: 14px;
        line-height: 20px;
        color: $text-color;
        margin-bottom: 0;
      }
      h4 {
        font-size: 14px;
        line-height: 20px;
        color: $white-color;
        margin-bottom: 0;
        position: relative;
        margin: 0 7px;

        &::after {
          @include pseudo-element(absolute, 1px, left, $white-color, 1px, 18px);
        }

        &::before {
          @include pseudo-element(
            absolute,
            1px,
            right,
            $white-color,
            1px,
            18px
          );
        }
      }
    }
  }
}

// ----main----
.main {
  padding-top: 35px;
  padding-bottom: 40px;

  @media (max-width: #{$sm}) {
    padding-top: 19px;
    padding-bottom: 21px;
  }

  .main-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    gap: 99px;
    @media (max-width: #{$xll}) {
      justify-content: center;
    }
    @media (max-width: 1024px) {
      gap: 51px;
      padding: 0;
    }
    @media (max-width: #{$sm}) {
      flex-direction: row;
      justify-content: space-between;
      padding-left: 6px;
      padding-right: 6px;
    }
    .logo-img {
      @media (max-width: #{$xl}) {
        // margin-bottom: 30px;
        width: 180px;
      }
      @media (max-width: #{$sm}) {
        width: 153px;
        height: 46px;
        margin-bottom: 0;
      }
    }
    .main-tab-box {
      display: flex;
      gap: 23px;

      @media (max-width: #{$xll}) {
        justify-content: center;
      }
      @media (max-width: #{$med}) {
        justify-content: center;
      }

      .main-left-data {
        position: relative;

        .main-border {
          border: 2px solid $white-color;
          display: flex;
          justify-content: center;
          position: absolute;
          top: 0;
          left: 0;
          margin: 5px 6px;
          padding: 19px 55px;
          @media (max-width: 1199px) {
            padding: 12px 34px;
          }
          @media (max-width: 1024px) {
            padding: 15px 50px;
          }
          @media (max-width: 991px) {
            padding: 7px 24px;
          }

          &:hover {
            cursor: pointer;
          }
          &:focus {
            border-color: #f6774e !important;
          }
          h3 {
            font-size: 20px;
            line-height: 28px;
            font-weight: 700;
            color: #5b5b5b;
            @include latter-space();
            margin-bottom: 0;
            text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
              2px 2px 0 white;
            @media (max-width: 1024px) {
              font-size: 18px;
              line-height: 26px;
            }
            @media (max-width: 699px) {
              font-size: 14px;
              line-height: 22px;
            }
          }
          .text-orange {
            color: #f6774e;
          }
        }
      }
    }
    .modal {
      background-color: $white-color;
      .modal-dialog {
        margin: 0;
      }
      .modal-header {
        padding: 0;
        display: block;
        border-radius: 0;
        .header-data {
          h3 {
            color: $white-color;
            margin-bottom: 0;
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
            padding: 17px 0 26px 24px;
          }
        }
      }
      .modal-dialog-scrollable .modal-content {
        height: 100% !important;
        margin: 0;
        border-radius: 0;
        border: 0;
        .modal-header {
          background-color: $primary-color;
          padding: 0 20px;

          .mobile-logo {
            padding-bottom: 55px;
            padding-top: 14px;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .language {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 44px;
            padding: 0 24px;
            .language-div {
              display: flex;
              align-items: center;
              font-size: 18px;
              line-height: 25px;
              gap: 18px;
              font-weight: 700;
              span {
                color: #fbee6c;
              }
              h3 {
                color: $white-color;
                margin-bottom: 0;
                position: relative;
                &::after {
                  position: absolute;
                  content: "";
                  background-color: $white-color;
                  width: 2px;
                  height: 20px;
                  top: 5px;
                  left: -10px;
                }
              }
            }
            h2 {
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: $white-color;
            }
          }
        }
      }
      .modal-body {
        padding: 35px 28px 35px 24px;
        .modal-list {
          li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include latter-space();
            color: #444444;
            margin-bottom: 32px;
            &.no-space {
              @include no-space();
            }
            h3 {
              font-size: 22px;
              line-height: 30px;
              font-weight: 700;
            }
            a {
              color: #444444;
            }
          }
        }
      }
    }
  }
}

// ---left-sidebar
.main_data {
  height: 100%;
  .main-data_flex {
    display: flex;
    gap: 24px;

    @media (max-width: #{$med}) {
      flex-direction: column;
    }
  }
}
.left-sidebar {
  background-color: $primary-color;
  width: 208px;
  height: 120vh;
  // @media (max-width: #{$xlll}) {
  //   height: auto;
  // }
  @media (max-width: #{$med}) {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 999;
    height: auto;
  }
  &.msg_leftside {
    height: auto;
    margin-bottom: -10px;
    @media (max-width: #{$med}) {
      margin-bottom: 0;
    }
  }
  .left-sidelist {
    padding-top: 81px;
    margin: 0 10px 0 13px;
    @media (max-width: #{$med}) {
      padding-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: #{$sm}) {
      padding-top: 14px;
    }
    li {
      @include latter-space();
      border-bottom: 2px solid $white-color;
      padding-bottom: 10px;
      padding-left: 20px;
      margin-bottom: 16px;
      width: 100%;
      @media (max-width: #{$med}) {
        width: max-content;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 0;
        border-bottom: 0;
        text-align: center;
      }
      @media (max-width: #{$xss}) {
        margin-left: 5px;
        margin-right: 5px;
      }
      .no-space {
     @include no-space();
      }
      a {
        color: $white-color !important;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        &.active {
          color: #fbee6c !important;
        }
        @media (max-width: #{$xs}) {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }
}
.right-sidebar {
  width: 82.4%;
  @media (max-width: 1699px) {
    width: 73%;
  }

  @media (max-width: #{$med}) {
    width: 100%;
    padding: 0 10px;
  }
  .rightside-title {
    @media (max-width: #{$med}) {
      &.quotation-title {
        flex-direction: column;
      }
    }
    @media (max-width: #{$sm}) {
      display: flex;
    }

    h2 {
      font-size: 30px;
      line-height: 40px;
      font-weight: 600;
      color: #444444;
      position: relative;
      padding-left: 20px;
      margin-bottom: 13px;
      @media (max-width: #{$lg}) {
        font-size: 24px;
        line-height: 28px;
      }
      @media (max-width: #{$med}) {
        font-size: 24px;
      }
      @media (max-width: #{$sm}) {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 34px;
      }

      &::after {
        position: absolute;
        top: 7px;
        left: 0;
        background-color: $green-color;
        content: "";
        width: 12px;
        height: 25px;
        @media (max-width: #{$med}) {
          top: 4px;
          height: 17px;
        }
      }
    }
  }
  .yellow-btn {
    &.profile_yellow {
      @media (max-width: #{$sm}) {
        text-align: center;
      }
      a {
        @include latter-space();
        padding: 17px 38px;
        margin-bottom: 0;
        @media (max-width: #{$sm}) {
          padding: 17px 24px;
        }
      }
    }
    a {
      background-color: #fbee6c;
      padding: 17px 19px 16px 27px;
      color: #444444;
      border-radius: 20px;
      font-size: 20px;
      font-weight: 700;
      line-height: 27px;
      margin-bottom: 26px;
      @media (max-width: #{$xss}) {
        font-size: 14px;
        line-height: 16px;
      }
      @media (max-width: #{$xs}) {
        font-size: 16px;
        line-height: 20px;
      }
      @media (max-width: #{$sm}) {
        font-size: 18px;
        margin-bottom: 42px;
      }
      @media (max-width: #{$xs}) {
        font-size: 16px;
      }
      @media (max-width: #{$xss}) {
        font-size: 14px;
      }
    }

    span {
      @include latter-space();
    }
  }
  .content {
    h4 {
      font-size: 18px;
      line-height: 24px;
      font-weight: 500;
      color: #3a3a3a;
      margin-bottom: 9px;
      @media (max-width: #{$med}) {
        // @include pading();
      }
      @media (max-width: #{$sm}) {
        margin-bottom: 14px;
      }
    }
    .updated-h3 {
      font-size: 15px;
      line-height: 20px;
      font-weight: 700;
      color: #454545;
      margin-bottom: 26px;
      letter-spacing: 2px;
      @media (max-width: #{$med}) {
        //  @include pading();
      }
      @media (max-width: #{$sm}) {
        margin-bottom: 30px;
      }
    }
  }
  .content-box {
    display: flex;
    gap: 51px;
    margin-bottom: 53px;

    @media (max-width: #{$med}) {
      // @include pading();
    }
    @media (max-width: #{$sm}) {
      gap: 11px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;
    }
    .box {
      width: 246px;
      height: 135px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      &.video {
        background-color: #f88d6b;
        i {
          margin-bottom: 2px;
        }
      }
      &.clock {
        background-color: #c59d4f;
        i {
          margin-bottom: 5px;
        }
      }
      i {
        font-size: 46px;
        color: $white-color;
      }
      h3 {
        font-size: 28px;
        @include latter-space();
        font-weight: 700;
        color: $white-color;
        margin-bottom: 0;
      }
    }
  }
  .table-nav {
    .watch-history .watch-history-h3 {
      color: #31b762;
      font-size: 20px;
      line-height: 28px;
      @include latter-space();
      font-weight: 700;
      margin-bottom: 29px;
      @media (max-width: #{$med}) {
        // @include pading();
      }
    }
    .hours-div {
      display: flex;
      gap: 10px;
      align-items: center;
      margin-bottom: 29px;
      @media (max-width: #{$med}) {
        margin-bottom: 20px;
        // @include pading();
      }
      @media (max-width: #{$sm}) {
        flex-direction: column;
        align-items: start;
      }
      h2 {
        font-size: 18px;
        font-weight: 500;
        color: #3a3a3a;
        line-height: 24px;
        margin-bottom: 0;
        @media (max-width: #{$sm}) {
          margin-bottom: 10px;
        }
      }
      .btn {
        padding: 5px 22px;
        color: #31b762;
        @include latter-space();
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        border: 1px solid #31b762;
        border-radius: 20px;
        @media (max-width: #{$sm}) {
          padding: 13px 22px;
          margin-bottom: 28px;
        }
      }
    }
  }
  .date-range {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 29px;
    @media (max-width: #{$med}) {
      // @include pading();
    }
    @media (max-width: #{$sm}) {
      flex-direction: column;
      align-items: start;
    }

    h3,
    span {
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      color: #3a3a3a;
      margin-bottom: 0;

      @media (max-width: #{$sm}) {
        margin-bottom: 20px;
      }
    }
    span {
      font-weight: 500;
    }
    form {
      input {
        border: 1px solid #555555;
        height: 32px;
        width: 154px;
        color: #555555;
        border-radius: 10px;

        &:focus {
          outline: none;
          box-shadow: none;
        }
        @media (max-width: #{$sm}) {
          width: 317px;
          height: 50px;
        }
        @media (max-width: #{$xs}) {
          width: 298px;
        }
        @media (max-width: #{$xss}) {
          width: 256px;
        }
      }
    }
  }
  .table-data {
    .table {
      thead {
        tr {
          th {
            background-color: $green-color;
            color: $white-color;
            padding-top: 15px;
            padding-bottom: 14px;
          }
        }
      }
      tr {
        td {
          vertical-align: middle;
          font-size: 18px;
          line-height: 24px;
          font-weight: 500;
          color: #3a3a3a;

          img {
            max-width: none;
          }
        }
        .min-td {
          @media (max-width: #{$xl}) {
            min-width: 250px;
          }
          @media (max-width: #{$xl}) {
            min-width: 183px;
          }
          @media (max-width: #{$lg}) {
            min-width: 180px;
          }
          @media (max-width: 767px) {
            min-width: 155px;
          }
        }
        .custom-checkbox {
          position: relative;
          display: inline-block;
          width: 24px;
          height: 24px;
          @media (max-width: #{$sm}) {
            width: 50px;
            height: 50px;
          }
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:focus {
              outline: none;
              box-shadow: none;
            }
            &:checked ~ .checkmark:after {
              display: block;
            }
          }

          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 24px;
            width: 24px;
            background-color: #fff;

            &:after {
              content: "";
              position: absolute;
              display: none;
              left: 8px;
              top: 4px;
              width: 8px;
              height: 16px;
              border: solid white;
              border-width: 0 4px 4px 0;
              transform: rotate(45deg);
            }
          }

          input:checked ~ .checkmark {
            background-color: #2196f3;
          }
        }
      }
    }
  }
}
footer {
  padding-top: 60px;
  padding-bottom: 31px;

  @media (max-width: #{$med}) {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 61px;
  }
  @media (max-width: #{$sm}) {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .footer-data {
    display: flex;
    justify-content: space-between;

    @media (max-width: #{$med}) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 7px;
    }
    .copy-right {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #444444;
      margin-bottom: 0;
      padding-left: 130px;

      @media (max-width: #{$xlll}) {
        padding-left: 77px;
      }
      @media (max-width: #{$xll}) {
        padding-left: 104px;
      }
      @media (max-width: #{$xl}) {
        padding-left: 193px;
      }
      @media (max-width: #{$lg}) {
        padding-left: 0;
      }
      @media (max-width: #{$sm}) {
        margin-bottom: 6px;
      }
    }
    .footer-right {
      display: flex;
      gap: 15px;

      @media (max-width: #{$sm}) {
        flex-wrap: wrap;
        justify-content: center;
        gap: 17px;
      }
      li {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        position: relative;
        color: #444444;

        &::after {
          position: absolute;
          top: 3px;
          right: -8px;
          width: 1px;
          height: 15px;
          background-color: #444444;
          content: "";
        }
        &:last-child::after {
          width: 0;
        }
      }
    }
  }
}
.main-left-data:focus .main-border {
  border-color: #f6774e !important;
}

// ----index page end-------

// -----profile_edit page start----------

.right-sidebar {
  @media (max-width: #{$med}) {
    &.mobile-screen-right {
      padding: 0 36px;
    }
  }
  @media (max-width: #{$sm}) {
    &.mobile-screen-right {
      padding: 0 20px;
    }
  }
  .rightside-title {
    .title_space {
      @include latter-space();
      margin-bottom: 24px;
    }
  }
  .profile_data {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
    border-radius: 29px;
    padding: 43px 26px;
    width: 86%;
    // @media (max-width: #{$xlll}) {
    //   width: 84%;
    // }
    @media (max-width: #{$xll}) {
      width: 86%;
    }
    @media (max-width: #{$xl}) {
      width: 90%;
    }
    @media (max-width: #{$med}) {
      width: 100%;
    }
    @media (max-width: #{$sm}) {
      padding: 47px 23px 52px 23px;
      margin-bottom: 90px;
    }
    @media (max-width: #{$xss}) {
      padding: 47px 10px 52px 10px;
      margin-bottom: 90px;
    }

    .account-h3 {
      margin-bottom: 15px;
      font-size: 18px;
      line-height: 24px;
      @include latter-space();
      color: $green-color;
      font-weight: 700;
      @media (max-width: #{$sm}) {
        margin-bottom: 19px;
      }
    }
    .login-data {
      margin-bottom: 39px;
      @media (max-width: #{$sm}) {
        margin-bottom: 26px;
      }
      @media (max-width: #{$xss}) {
        margin-bottom: 16px;
      }
      &.mb-35 {
        margin-bottom: 35px;
        @media (max-width: #{$sm}) {
          margin-bottom: 26px;
        }
        li {
          @media (max-width: #{$sm}) {
            flex-direction: column;
            gap: 6px;
          }
        }
      }
      .dot-style {
        padding-left: 10px;
        @media (max-width: #{$sm}) {
          margin-bottom: 62px;
        }
        li {
          position: relative;
          &::after {
            position: absolute;
            content: "";
            background-color: #3a3a3a;
            top: 10px;
            left: -13px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
          }
        }
      }
      li {
        @media (max-width: #{$sm}) {
          gap: 20px;
        }
        .login-detail {
          display: flex;
          @media (max-width: #{$sm}) {
            flex-direction: column;
            margin-bottom: 15px;
          }
          h4 {
            width: 150px;
            @media (max-width: #{$sm}) {
              width: 100%;
            }
          }
        }
        h4 {
          margin-bottom: 15px;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          color: #3a3a3a;
          @media (max-width: #{$sm}) {
            margin-bottom: 4px;
            &.custm-mb {
              margin-bottom: 19px;
            }
          }
          @media (max-width: #{$xss}) {
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }
  }
}
.latter_space {
  @include latter-space();
  color: #787878;
}
// -----profile_edit end----

// --cast message start----

.right-sidebar {
  @media (max-width: #{$med}) {
    padding: 0 20px;
  }
  &.msg_rightside {
    width: 86%;
    @media (max-width: #{$xlll}) {
      width: 82%;
    }
    @media (max-width: #{$xll}) {
      width: 78%;
    }
    @media (max-width: #{$xl}) {
      width: 73%;
    }
    @media (max-width: #{$med}) {
      width: 100%;
    }
  }
  .message-data {
    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;

      @media (max-width: #{$xl}) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: #{$sm}) {
        grid-template-columns: repeat(1, 1fr);
        gap: 26px;
      }
    }
    .message-content {
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      background-color: #f4f4f4;
      border-radius: 10px;
      margin-bottom: 3px;
      height: 100%;
      .msg-title {
        padding: 12px 13px;
        .round-dot {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: #787878;
          &.active {
            background-color: #dd2b2b;
          }
        }
        h4 {
          color: #787878;
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
          margin-bottom: 0;
        }
      }

      .msg-img {
        padding: 0 9px 12px 9px;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      .msg-data {
        padding: 0 9px;
        .msg-h-title {
          @media (max-width: #{$xll}) {
            height: 61px;
          }
          @media (max-width: #{$sm}) {
            height: 60px;
          }
          h3 {
            margin-bottom: 11px;
            font-size: 18px;
            line-height: 25px;
            font-weight: 700;
            color: #3a3a3a;
          }
        }
        p {
          color: #787878;
          font-size: 18px;
          line-height: 25px;
          font-weight: 400;
          margin-bottom: 15px;
        }
      }
      .msg-btn {
        button {
          padding: 14px 0;
          background-color: $green-color;
          font-size: 18px;
          line-height: 25px;
          font-weight: 700;
          width: 100%;
          color: $white-color !important;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          @media (max-width: #{$sm}) {
            padding: 10px 0;
          }
        }
      }
    }
  }
}
// --dashboardcast messsage -end---

// ---dashboardcast message detail----start

.message-detail {
  margin: 0 90px;
  @media (max-width: #{$lg}) {
    margin: 0 60px;
  }
  @media (max-width: #{$med}) {
    margin: 0 40px;
  }
  @media (max-width: #{$sm}) {
    padding: 0 10px;
    margin: 0;
  }
  .detail-title {
    h2 {
      @include latter-space();
      font-size: 30px;
      line-height: 40px;
      font-weight: 600;
      color: #444444;
      position: relative;
      margin-bottom: 21px;

      @media (max-width: #{$xll}) {
        padding-left: 4px;
        font-size: 24px;
        line-height: 28px;
      }
      @media (max-width: #{$med}) {
        padding-left: 13px;
        font-size: 16px;
      }
      @media (max-width: #{$xss}) {
        padding-left: 13px;
        font-size: 14px;
      }
      &:after {
        position: absolute;
        top: 7px;
        left: 0;
        background-color: $green-color;
        content: "";
        width: 12px;
        height: 25px;
        @media (max-width: #{$xll}) {
          top: 2px;
        }
      }
    }
  }
  .detail-back {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 25px;
    span,
    i {
      font-size: 18px;
      line-height: 24px;
      @include latter-space();
      color: #6c6c6c;
      font-weight: 700;
      @media (max-width: #{$xss}) {
        font-size: 16px;
      }
    }
  }
  
  .detail-data {
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 34px 76px 75px 76px;
    margin-bottom: 145px;

    @media (max-width: #{$xl}) {
      padding: 34px 52px 75px 52px;
      margin-bottom: 105px;
    }

    @media (max-width: #{$sm}) {
      padding: 24px 24px 33px 24px;
    }
    .detail-data-title {
      h3 {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        @include latter-space();

        color: #46464e;
        margin-bottom: 13px;
        @media (max-width: #{$xss}) {
          font-size: 14px;
        }
      }
      h2 {
        color: #008bd5;
        font-size: 22px;
        line-height: 30px;
        font-weight: 700;
        margin-bottom: 32px;
        text-decoration: underline;
        text-underline-offset: 10px;

        @media (max-width: #{$sm}) {
          font-size: 18px;
          margin-bottom: 20px;
        }
        @media (max-width: #{$xss}) {
          font-size: 16px;
        }
      }
    }
    .detail-data-img {
      margin-bottom: 35px;

      @media (max-width: #{$sm}) {
        margin-bottom: 28px;
      }
      img {
        width: 100%;
      }
    }
    .detail-data-content {
      p {
        letter-spacing: 2px;
        font-size: 16px;
        line-height: 30px;
        color: #787878;
        font-weight: 400;
        margin-bottom: 11px;
        &:last-child {
          margin-bottom: 25px;
          @media (max-width: #{$sm}) {
            margin-bottom: 16px;
          }
        }
        // @media (max-width: #{$sm}) {
        //   line-height: 24px;
        //   font-size: 14px;
        // }
      }
    }
    .detail-data-list {
      h3 {
        color: $green-color;
        letter-spacing: 2px;
        font-size: 16px;
        line-height: 30px;
        font-weight: 700;
      }
      ul {
        margin-bottom: 30px;
        @media (max-width: #{$sm}) {
          margin-bottom: 16px;
        }
        li {
          font-size: 16px;
          line-height: 30px;
          font-weight: 400;
          color: #46464e;
          letter-spacing: 1px;
          // @media (max-width: #{$sm}) {
          //   font-size: 14px;
          //   line-height: 26px;
          // }
        }
      }
      p {
        &:last-child {
          width: 100%;
          max-width: 780px;
        }
        &:nth-child(2) {
          width: 100%;
          max-width: 440px;
          margin-bottom: 0;
        }
      }
    }
  }
}
// ---dashboard detail end -----

// ---quotation-main---
.right-sidebar {
  &.quotation-main {
    width: 88%;
    padding-right: 20px;

    @media (max-width: #{$xlll}) {
      width: 84%;
    }
    @media (max-width: 1299px) {
      width: 81%;
    }
    @media (max-width: #{$xl}) {
      width: 77%;
    }
    @media (max-width: 992px) {
      width: 76%;
    }
    @media (max-width: 991px) {
      width: 74%;
    }
    @media (max-width: #{$med}) {
      width: 100%;
    }
    .rightside-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 33px;

      form {
        position: relative;
        input {
          border: 1px solid $green-color;
          border-radius: 30px;
          width: 475px;
          height: 54px;
          position: relative;

          &:focus {
            outline: none;
            box-shadow: none;
          }
          @media (max-width: #{$sm}) {
            width: 374px;
            height: 44px;
          }
          @media (max-width: #{$xs}) {
            width: 300px;
          }

          &::placeholder {
            color: #a1a1a1;
            font-size: 18px;
            line-height: 25px;
            font-weight: 500;
            padding-left: 31px;

            @media (max-width: #{$sm}) {
              padding-left: 10px;
              font-size: 16px;
              line-height: 20px;
            }
            @media (max-width: #{$xs}) {
              width: 200px;
            }
          }
        }
        span {
          position: absolute;
          right: 21px;
          top: 12px;
          @media (max-width: #{$sm}) {
            top: 8px;
          }
          img {
            @media (max-width: #{$sm}) {
              width: 20px;
            }
          }
        }
      }
    }
  }
}
.quotation-tab {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
  @media (max-width: 767px) {
   margin-bottom: 0;
  }
  li{
    width: 50%;
    
    .nav-link{
      border-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #909090;
      &.active{
        background-color: #f28d30;
      }
      @media (max-width: #{$sm}) {
       padding: 13px 35px 14px 35px;
      }
      @media (max-width: #{$xs}) {
       padding: 13px 30px 14px 30px;
      }
      @media (max-width: #{$xss}) {
       padding: 13px 20px 14px 20px;
      }
    }
  }
  .orange-tab {
   
    @include quotation-tab();
    border-top-left-radius: 45px !important;
  }
  .gray-tab {
    
    border-top-right-radius: 45px !important;
    @include quotation-tab();
    position: relative;
    &:after {
      position: absolute;
      content: "";
      top: 5px;
      left: 2px;
      width: 3px;
      height: 80%;
      background-color: $white-color;
    }
  }
}
// .quotation-table {
//   table {
//     width: 100%;
//     margin-bottom: 49px;
//     thead {
//       tr {

//         th {
//           cursor: pointer;
//           background-color: $green-color;
//           color: $white-color;
//           padding: 15px 10px 17px 10px;
//           @media (max-width: #{$med}) {
//            padding: 10px;
//           }
//           &:first-child {
//             padding-left: 20px;
//           }
//         }
//       }
//     }
//     tbody {

//       td {
//         padding: 14px 10px;
//         min-width: 148px;
//         font-size: 16px;
//         line-height: 22px;
//         font-weight: 500;
//         vertical-align: middle;
//         @media (max-width: #{$sm}) {
//           font-size: 14px;
//           line-height: 16px;
//           min-width: 116px;
//           padding: 10px 10px;
//         }
//         &:first-child {
//           padding-left: 20px;
//         }
//         &:nth-child(3) {
//           min-width: 280px;
//           width: 17%;
//           @media (max-width: 1799px) {
//             // width: 300px;
//           }
//         }
//         &:nth-child(4) {
//           width: 190px;
//         }
//         &:last-child {
//           min-width: 200px;
//         }
//         .action-td {
//           display: flex;
//           gap: 31px;
//           img{
//             cursor: pointer;

//             @media (max-width: #{$sm}) {
//               width: 20px;
//             }
//           }
//         }
//         .state-td {
//           // padding: 5px 24px 4px 27px;
//           width: 135px;
//           height: 31px;
//           border-radius: 25px;
//           display: flex;
//           align-items: center;
//           justify-content: center;
//           color: $white-color;

//           &.orange-btn {
//             background-color: #e4663e;
//           }
//           &.puprple-btn {
//             background-color: #b44fb0;
//           }
//         }
//       }
//     }
//   }
// }
.quontation-table {
  .que-head {
    
    display: flex;
    // justify-content: space-between;
    gap: 28px;
    padding: 15px 10px 17px 20px;
    &.green-bg{
      background-color: $green-color;
    }
    &.puprple-bg{
      background-color: #B44FB0;
    }
    @media (max-width: #{$xlll}) {
      padding: 10px;
      gap: 10px;
    }
    @media (max-width: #{$xl}) {
      padding: 10px;
    }
    div{
      @include table-width();
      &.exception-tab{
        @include table-width-3rd();
      }
      h4 {
        color: $white-color;
        @include latter-space();
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        @media (max-width: #{$xl}) {
          font-size: 14px;
          line-height: 18px;
        }
      
      }
    }
  }
  .que-body {
    margin-bottom: 49px;
    .que-tr {
      display: flex;
      align-items: center;
      // justify-content: space-between;
      gap: 28px;
      padding: 14px 10px 14px 20px;
      @media (max-width: #{$xlll}) {
       gap: 10px;
       padding: 10px;
      }
      @media (max-width: #{$sm}) {
      flex-direction: column;
      align-items: start;
      padding: 19px 10px;
      gap: 8px;
      }
      &.que-gray {
        background-color: #f8f7f3;
      }
      &.que-light {
        background-color: #efede4;
      }
      h4 {
        font-weight: 500;
        line-height: 25px;
        font-size: 16px;
        // @include table-width();
        @media (max-width: #{$xl}) {
          font-size: 14px;
          line-height: 18px;
        }
        @media (max-width: #{$sm}) {
          width: 300px;
          line-height: 25px;
        font-size: 16px;
        }

        .action-td {
          display: flex;
          gap: 30px;
          justify-content: space-evenly;
          flex-wrap: wrap;
          
          @media (max-width: #{$xlll}) {
           gap: 20px;
          }
          @media (max-width: #{$xl}) {
           justify-content: start;
           gap: 8px;
          }
        }
        .state-td {
          width: 135px;
          height: 31px;
          border-radius: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white-color;

          @media (max-width: #{$xl}) {
           width: 109px;
          }
          &.orange-btn {
            background-color: #e4663e;
          }
          &.puprple-btn {
            background-color: #b44fb0;
          }
          &.gray-btn{
            background-color: #494F5A;
          }
        }
      }
      .que-gray-flex{
        @include table-width();
        &.exception-tab {
          @include table-width-3rd();
        }
        @media (max-width: #{$sm}) {
          display: flex;
          width: 100%;
          // justify-content: space-between;
          gap: 10px;
          }
        @media (max-width: #{$xs}) {
          gap: 10px;
          }
        h3{
          display: none;
          font-size: 16px;
          line-height: 22px;
          font-weight: 700;
          width: 120px;
          letter-spacing: 4px;
          line-height: 22px;
          @media (max-width: #{$sm}) {
          display: block;
          width: 170px;
          }
        }
        &.action-mobile{
        gap: 12px;
        .action-btn{
          display: flex;
          justify-content: space-between;
          gap: 3px;
          color: 
          #9B4545;
          font-size: 16px;
          line-height: 22px;
          font-weight: 700;
          @include latter-space();
          padding: 11px 8px;
          border: 1px solid;
          border-radius: 20px;

  @media (max-width: #{$xss}) {
    flex-wrap: wrap;
    justify-content: center;
  }
          img{
            width: 32px;
            height: 29px;
            object-fit: contain;
          }
        }
        }
        .register-btn{
          border: 1px solid 
          #CF4CDB;
          color: 
          #CF4CDB;
          @include register-btn();
        }
        .red-btn{
          color: #E95075;
          border: 1px solid #E95075;
          @include register-btn();
        }
      }
    }
  }
}
.table-pagination {
  text-align: end;
  @media (max-width: #{$sm}) {
  text-align: center;
    }
  ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 11px;
    @media (max-width: #{$sm}) {
      justify-content: center;
      gap: 20px;
      }
    li {
      a{

        color: #444444;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        &.active {
          color: #f6774e;
          text-decoration: underline;
          text-underline-offset: 4px;
          @media (max-width: #{$sm}) {
           border: 1px solid #f6774e;
           padding: 3px 5px;  
           text-decoration: none;
            }
        }
      }
    }
  }
}

// ---grid-table dashboard table start
.grid-table {
  .table-head {
    display: flex;
    gap: 100px;
    padding-top: 15px;
    padding-bottom: 14px;
    @media (max-width: 1299px) {
      gap: 60px;
    }
    @media (max-width: 991px) {
      gap: 27px;
    }
    @media (max-width: #{$sm}) {
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
    }
    &.bg-green {
      background-color: $green-color;
      color: $white-color;
    }
    &.bg-gray {
      background-color: #f8f7f3;
    }
    &.bg-gray1 {
      background-color: #ebebeb;
    }
    .mobile-table-data {
      display: flex;
      gap: 10px;
      .last-flex {
        gap: 133px;
        align-items: center;
        @media (max-width: 1299px) {
          gap: 79px;
        }
        @media (max-width: #{$xl}) {
          gap: 20px;
        }
        @media (max-width: #{$sm}) {
          flex-direction: column;
          gap: 0;
          align-items: start;
        }
      }
    }

    .checkbox-td {
      display: flex;
      gap: 30px;
      align-items: center;

      @media (max-width: #{$lg}) {
        gap: 18px;
        align-items: center;
      }

      .custom-checkbox {
        position: relative;
        display: inline-block;
        width: 24px;
        height: 24px;
        @media (max-width: #{$sm}) {
          width: 50px;
          height: 50px;
        }
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
          &:focus {
            outline: none;
            box-shadow: none;
          }
          &:checked ~ .checkmark:after {
            display: block;
          }
        }

        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 24px;
          width: 24px;
          background-color: #fff;
          @media (max-width: #{$sm}) {
            width: 50px;
            height: 50px;
          }

          &:after {
            content: "";
            position: absolute;
            display: none;
            left: 8px;
            top: 4px;
            width: 8px;
            height: 16px;
            border: solid white;
            border-width: 0 4px 4px 0;
            transform: rotate(45deg);

            @media (max-width: #{$sm}) {
              left: 19px;
              top: 8px;
              width: 12px;
              height: 29px;
            }
          }
        }

        input:checked ~ .checkmark {
          background-color: #2196f3;
        }
      }
    }

    img {
      max-width: none;
      object-fit: cover;
      @media (max-width: #{$sm}) {
        width: 230px;
        height: 145px;
      }
      @media (max-width: #{$xss}) {
        width: 176px;
        height: 116px;
      }
    }
  }
}
.w-2 {
  width: 18px;
}
.head-w {
  width: 160px;
  @media (max-width: #{$sm}) {
    width: 100%;
  }
}
.custm-w-1 {
  width: 250px;
  @media (max-width: #{$lg}) {
    width: 200px;
  }
  @media (max-width: 991px) {
    width: 169px;
  }
  @media (max-width: #{$med}) {
    width: 250px;
  }
  @media (max-width: 690px) {
    width: 163px;
  }
  @media (max-width: #{$sm}) {
    width: auto;
  }
}
.custm-w-2 {
  width: 100px;
  @media (max-width: #{$sm}) {
    width: auto;
  }
}
.custm-w-3 {
  width: 100px;
  @media (max-width: #{$sm}) {
    width: auto;
  }
}
.last-flex {
  gap: 133px;
  @media (max-width: 1299px) {
    gap: 79px;
  }
  @media (max-width: #{$xl}) {
    gap: 20px;
  }
  @media (max-width: #{$sm}) {
    gap: 0;
  }
}
.mobile-table-data {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  @media (max-width: #{$xss}) {
    font-size: 14px;
    line-height: 20px;
  }
  .mobile-div1 {
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    @media (max-width: #{$xss}) {
      font-size: 12px;
      line-height: 20px;
    }
  }
}
.height-2 {
  height: 200px;
}
// ---dashboard table end


// --registration record--start
.record-qr{
  @media (max-width: #{$sm}) {
  padding: 0 20px;
  }
  .detail-title {
    h2 {
      @include latter-space();
      font-size: 30px;
      line-height: 40px;
      font-weight: 600;
      color: #444444;
      position: relative;
      margin-bottom: 21px;

      @media (max-width: #{$xll}) {
        padding-left: 4px;
        font-size: 24px;
        line-height: 28px;
      }
      @media (max-width: #{$med}) {
        padding-left: 13px;
        font-size: 16px;
      }
      @media (max-width: #{$sm}) {
        margin-bottom: 16px;
       }
      @media (max-width: #{$xss}) {
        padding-left: 13px;
        font-size: 14px;
      }
      &:after {
        position: absolute;
        top: 7px;
        left: 0;
        background-color: $green-color;
        content: "";
        width: 12px;
        height: 25px;
        @media (max-width: #{$xll}) {
          top: 2px;
        }
      }
    }
  }
  .detail-back {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 40px;
    @media (max-width: #{$sm}) {
      margin-bottom: 38px;
     }
    span,
    i {
      font-size: 18px;
      line-height: 24px;
      @include latter-space();
      color: #6c6c6c;
      font-weight: 700;
      @media (max-width: #{$xss}) {
        font-size: 16px;
      }
    }
  }
  .online-title{
    width: 776px;
    margin: 0 auto;
    @media (max-width: #{$xl}) {
      width: 720px;
    }
 @media (max-width: #{$med}) {
      width: 580px;
    }
 @media (max-width: #{$sm}) {
      width: 100%;
    }
    h3{
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 19px;
      color: 
      #555555;
      line-height: 22px;
      @include latter-space();
    }
    p{
      margin-bottom: 7px;
      font-size: 16px;
      line-height: 21px;
      color: 
      #008BD5;
      font-weight: 700;
    }
    .mb-online{
      margin-bottom: 33px;
      a{
        font-size: 16px;
        line-height: 21px;
        color: 
        #008BD5;
        margin-bottom: 33px;
        color: 
        #000000;
        text-decoration: underline;
        text-underline-offset: 2px;
        word-wrap: break-word;
      }
    }
  }
  .record-detail{
    padding: 35px 110px 57px 160px;
    box-shadow: 0 0 6px 0  
  rgba(0, 0, 0, 0.25);
  border-radius: 29px;
  width: 776px;
  &.online_record{
    padding: 49px 120px 49px 150px;
    @media (max-width: #{$xl}) {
      width: 720px;
      padding: 35px 100px 57px 130px;
    }
 @media (max-width: #{$med}) {
      width: 580px;
      padding: 35px 80px 57px 80px;
    }
 @media (max-width: #{$sm}) {
      width: 100%;
      padding: 35px 23px 57px 23px;
    }
  }
   @media (max-width: #{$xl}) {
        width: 720px;
        padding: 35px 100px 57px 130px;
      }
   @media (max-width: #{$med}) {
        width: 580px;
        padding: 35px 80px 57px 80px;
      }
   @media (max-width: #{$sm}) {
        width: 100%;
        padding: 35px 23px 57px 23px;
      }
  .qr-img{
    margin-bottom: 37px;
    display: flex;
  flex-direction: column;
  align-items: center;
  img{
    @media (max-width: #{$sm}) {
      width: 269px;
      height: 269px;
      margin-bottom: 30px;
    }
  
  }
  }
 
  }
}
.record-list{
  &.mb-36{
    margin-bottom: 36px;
    @media (max-width: #{$sm}) {
      margin-bottom: 59px;
     }
    @media (max-width: #{$xss}) {
      margin-bottom: 39px;
     }
  }
  &.mb-34{
    margin-bottom: 34px;
    @media (max-width: #{$sm}) {
      margin-bottom: 59px;
     }
     @media (max-width: #{$xss}) {
      margin-bottom: 39px;
     }
  }
  &.mb-71{
    margin-bottom: 71px;
    @media (max-width: #{$sm}) {
      margin-bottom: 59px;
     }
     @media (max-width: #{$xss}) {
      margin-bottom: 39px;
     }
  }
  .record-title{
    @include latter-space();
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: 
    #F6774E;
    margin-bottom: 15px;
  }
  ul{
    li{
      display: flex;
      justify-content: start;
      gap: 20px;
      h4,h3{
        color: 
        #555555;
        font-size: 16px;
        line-height: 22px;
       letter-spacing: 2px;
        font-weight: 500;
      }
      h3{
        width: 170px;
      }
      h4{
        width: 340px;
      }
    }
  }
}
.record-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 41px;
  @media (max-width: #{$sm}) {
   flex-direction: column;
   gap: 33px;
  }
  .btn{
    width: 184px;
    height: 38px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    border-radius: 20px;
    &.orange-btn{
      color: $white-color;
      background-color: 
      #F6774E;
    }
    &.blue-btn{
    color: #008BD5;
    border: 1px solid #008BD5;
    }
    @media (max-width: #{$sm}) {
     width: 207px;
     height: 60px;
     }
  }
}
.no-space{
letter-spacing: 0 !important;
}
// --registration record end
